{% include 'common_vhost.j2' %}
    <Directory {{apache_vhost_webroot}}>
        Options Indexes FollowSymLinks
        AllowOverride {{apache_vhost_allowoverride}}
        Order allow,deny
        allow from all
    </Directory>

</VirtualHost>
{% include 'alternate_vhosts.j2' %}
