{# {% import "macros.j2" as apache_macros with context %} #}
{% macro rewrite_block(rewrites) %}
{% if rewrites %}
# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on
{% for rewrite in rewrites %}
{{rewrite}}
{% endfor %}
</IfModule>
{% endif %}
{% endmacro %}

{% macro vhost_hostnames(hosts) %}
{%        for hostname in hosts %}
{% if local_test_environment is defined %}
{% set hostname = hostname ~ ".local" %}
{% endif %}
{%            if loop.first %}
            ServerName {{ hostname }}
{% if loop.length > 1 %}
            ServerAlias{% endif %}{%
            else %} {{ hostname }}{% endif %}
{%        endfor %}
{% endmacro %}

{% macro redirect_vhost(vhost) %}
<VirtualHost *:80>
{{ vhost_hostnames(vhost.hosts) }}
        RedirectPermanent / http://www.{{ site_name }}/{{ vhost.destination_path|default('') }}
</VirtualHost>
{% endmacro %}
