{% include 'common_vhost.j2' %}
{% import "macros.j2" as apache_macros with context %}

    <LocationMatch "wp-json">
        Deny from all
        Satisfy all
    </LocationMatch>

    <Directory {{apache_vhost_webroot}}>
        Options Indexes FollowSymLinks
        AllowOverride {{apache_vhost_allowoverride}}
        Order allow,deny
        allow from all
{% if wordpress_webroot is defined and other_sites == [] %}
        <IfModule mod_rewrite.c>
            RewriteEngine On
            RewriteBase /
            RewriteRule ^index.php$ - [L]
            RewriteCond %{REQUEST_FILENAME} !-f
            RewriteCond %{REQUEST_FILENAME} !-d
            RewriteRule . /index.php [L]
        </IfModule>
{% elif wordpress_webroot is defined and other_sites != [] %}
        <IfModule mod_rewrite.c>
            RewriteEngine On
            RewriteBase /
            RewriteRule ^index\.php$ - [L]
            # add a trailing slash to /wp-admin
            RewriteRule ^wp-admin$ wp-admin/ [R=301,L]
            RewriteCond %{REQUEST_FILENAME} -f [OR]
            RewriteCond %{REQUEST_FILENAME} -d
            RewriteRule ^ - [L]
{% if wordpress_bedrock is defined %}
            RewriteRule ^(wp-(admin|includes).*) wp/$1 [L]
            RewriteRule ^(.*\.php)$ wp/$1 [L]
{% else %}
            RewriteRule ^(wp-(content|admin|includes).*) $1 [L]
            RewriteRule ^(.*\.php)$ $1 [L]
{% endif %}
            RewriteRule . index.php [L]
        </IfModule>
{% endif %}
    </Directory>
</VirtualHost>
{% include 'alternate_vhosts.j2' %}
